#status {
    width: 30%;
    min-width: 20;
    max-width: 50;
    text-align: left;
}
#search {
    width: 70%;
}

FolderDialog {
    align: center top;
}
    
        #dlg_container {
            width: 60%;
            height: auto;
            padding: 2;
            border: solid $accent;
            background: $panel;
        }

        #dlg_title {
            padding: 1;
            text-align: center;
            color: $text;
        }

        #dlg_input {
            width: 100%;
            height: 3;
        }

        #dlg_buttons {
            padding-top: 1;
            height: 3;
        }